body {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    color: #b1cce7;
    font-size: 70px;
}

body > a {
    text-decoration: none;
}

header span:first-child {
    margin-right: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(45, 69, 113, 0), rgba(45, 69, 113, 0.6), rgba(45, 69, 113, 0));
}

main {
    width: 1000px;
    margin: 0 auto;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #b1cce7;
}

button {
    display: inline-block;
    margin-top: 20px;
    background-color: #5881A9;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

a.button {
    text-decoration: none;
    color: white;
}

/*
Form styling
 */

form {
    margin-top: 50px;
    width: 700px;
    margin: 0 auto;
    text-align: left;
}

legend {
    color: #5881A9;
    font-size: 18px;
}

input[type=submit] {
    color: #5881A9;
    cursor: pointer;
}

label {
    font-size: 14px;
}