
main {
    text-align: center;
}

p#quote {
    display: block;
    margin: 50px auto 10px auto;
    width: 700px;
    font-size: 30px;
}

div#img_container {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 700px;
}

p#username {
    text-align: right;
    position: absolute;
    top: 90px;
    left: 180px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    line-height: 29px;
}

div#author_img {
    z-index: -1;
    position: absolute;
    top: 280px;
    left: 400px;
    width: 220px;
    height: 260px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}